html {
	background-size: 100%, 100%, cover;
	background-color: pink;
	background-repeat: no-repeat;
	text-align: center;
	
}

.header {
	width: 100%;
	height: 400px;
	text-align: center;
	background-image: url("bground.jpg");
	margin: 0;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	position: relative;
	
}

.header h1{
	font-size: 40px;
}

.navbar{
	float: center;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}



button {
    background-image: url("sunflower.png");
	background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
	
}


button:hover{
    background-color: violet;
}