html{
	background: url("kathy.jpg");
	background-size: 100%, 100%, cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	
}

#header1{
	width: 50%;
	height: 300px;
	margin: 0 auto;
	background-color: #d8afb1;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	color: black;
	font-family: arial;
	margin-top: 10px;
	border-radius: 10px;
}

.avatar img {
	height: 25%;
	width: 25%;
	border-radius: 100%;
	margin: 0 auto;	
}

.proceed{

	border: black;
	padding: 10px 32px;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	
}







